.App {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 200px;
}

.time{
  font-family : Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 40px;
}
.timerText{

display: flex;
justify-content: space-around;
text-align: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 12px;
color: grey;
padding-left: 6px;
}